HELP.md
target/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Node
/node_modules
npm-debug.log
yarn-error.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/build/resources/main/application.properties
/target/classes/application.properties
/target/classes/ubb/thesis/easyemploy/Controller/AuthenticationController.class
/target/classes/ubb/thesis/easyemploy/Service/AuthenticationService.class
/target/classes/ubb/thesis/easyemploy/Domain/Entities/BaseUser.class
/target/classes/ubb/thesis/easyemploy/Controller/BaseUserController.class
/target/classes/ubb/thesis/easyemploy/Converter/BaseUserConverter.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/BaseUserDto$BaseUserDtoBuilder.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/BaseUserDto.class
/target/classes/ubb/thesis/easyemploy/Domain/Validation/BaseUserValidator.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Entities/Company.class
/target/classes/ubb/thesis/easyemploy/Domain/Entities/Company.class
/target/classes/ubb/thesis/easyemploy/Controller/CompanyController.class
/target/classes/ubb/thesis/easyemploy/Converter/CompanyConverter.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/CompanyDto$CompanyDtoBuilder.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/CompanyDto.class
/target/classes/ubb/thesis/easyemploy/Repository/CompanyRepository.class
/target/classes/ubb/thesis/easyemploy/Service/CompanyService.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Validation/CompanyValidator.class
/target/classes/ubb/thesis/easyemploy/Domain/Validation/CompanyValidator.class
/target/classes/ubb/thesis/easyemploy/Converter/Converter.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/build/classes/java/main/ubb/thesis/easyemploy/EasyemployApplication.class
/target/classes/ubb/thesis/easyemploy/EasyemployApplication.class
/target/test-classes/ubb/thesis/easyemploy/EasyemployApplicationTests.class
/target/classes/ubb/thesis/easyemploy/Service/EmailService$1.class
/target/classes/ubb/thesis/easyemploy/Service/EmailService.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/ubb/thesis/easyemploy/Repository/Repository.class
/target/classes/ubb/thesis/easyemploy/Domain/Entities/Role.class
/target/classes/ubb/thesis/easyemploy/Domain/Entities/Token.class
/target/classes/ubb/thesis/easyemploy/Converter/TokenConverter.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/TokenDto$TokenDtoBuilder.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/TokenDto.class
/target/classes/ubb/thesis/easyemploy/Repository/TokenRepository.class
/target/classes/ubb/thesis/easyemploy/Service/TokenService.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Entities/User.class
/target/classes/ubb/thesis/easyemploy/Domain/Entities/User.class
/target/classes/ubb/thesis/easyemploy/Controller/UserController.class
/target/classes/ubb/thesis/easyemploy/Converter/UserConverter.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/UserDto$UserDtoBuilder.class
/target/classes/ubb/thesis/easyemploy/Domain/DTO/UserDto.class
/build/classes/java/main/ubb/thesis/easyemploy/Repository/UserRepository.class
/target/classes/ubb/thesis/easyemploy/Repository/UserRepository.class
/build/classes/java/main/ubb/thesis/easyemploy/Service/UserService.class
/target/classes/ubb/thesis/easyemploy/Service/UserService.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Validation/UserValidator.class
/target/classes/ubb/thesis/easyemploy/Domain/Validation/UserValidator.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Exceptions/ValidationException.class
/target/classes/ubb/thesis/easyemploy/Domain/Exceptions/ValidationException.class
/build/classes/java/main/ubb/thesis/easyemploy/Domain/Validation/Validator.class
