<!DOCTYPE html>

<meta content="width=device-width" name="viewport"/>
<html>
<body>

<div class="main-div">
  <mat-card class="container-form">
    <mat-card-content>
      <div *ngIf="errorMessage===''">

        <h2>Please enter your new password:</h2>
        <form (submit)="onSubmit()" class="form-login">

          <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input [(ngModel)]="baseUser.password" matInput name="password" type="password">
          </mat-form-field>

          <br>
          <button mat-raised-button color="primary" type="submit">Reset password</button>
        </form>
      </div>
      <br>
      <mat-error *ngIf="errorMessage.includes('Invalid token')">
        Oops, it looks like the link is broken! Please check the link from the reset email again.
      </mat-error>
      <mat-error *ngIf="errorMessage.includes('Email already confirmed')">
        It looks like you have already accessed this link. Try <a [routerLink]="['/login']" >logging in</a> instead.
      </mat-error>
      <mat-error *ngIf="errorMessage.includes('Token has expired')">
        It looks like your reset token has expired. Try <a [routerLink]="['/reset-password']" (click)="onResendConfirmation()">sending another reset email</a>.
      </mat-error>
      <mat-error *ngIf="creationError!==''">
        {{creationError}}
      </mat-error>
    </mat-card-content>
  </mat-card>
</div>
</body>
</html>
