<!DOCTYPE html>

<meta content="width=device-width" name="viewport"/>
<html>
<body>

<div class="main-div">
  <mat-card class="container-form">
    <mat-card-content>
      <form (submit)="onSubmit()" class="form-login">
              <span class="title-form-login">
        <h1>Please re-enter your email.</h1>
      </span>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput name="email" type="text">
        </mat-form-field>

        <br><br>
        <button mat-raised-button color="primary" type="submit">Reset password</button>
      </form>

      <mat-error *ngIf="errorMessage!==''">
        {{errorMessage}}
      </mat-error>
    </mat-card-content>
  </mat-card>
</div>
</body>
</html>
