<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<div class="main-div">
  <mat-card class="view-application">
    <h1>Application</h1>

    <h2 class="justify-align">{{application.salutations}} {{application.firstName}} {{application.lastName}}</h2>

    <div style="text-align: center;">
    <a class="icon-container" href="{{CV.url}}">
      <img class="icon"
           src="../../../assets/cv.png"
      />
    </a>

    <a class="icon-container" href="{{CL.url}}">
      <img class="icon"
           src="../../../assets/cl.png"
      />
    </a>
    </div>

    <h3 class="justify-align">Date of birth: {{application.dob | date:'mediumDate'}}</h3>
    <h3 class="justify-align">Email: {{application.email}}</h3>
    <h3 class="justify-align">Phone: {{application.phone}}</h3>
    <h3 class="justify-align">Address: {{application.address}}</h3>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" type="button" (click)="toggleFeedback()">{{feedbackText}}</button><br><br>
      <button mat-raised-button color="primary" type="button" (click)="toggleCall()">{{interviewText}}</button>
    </div>

  </mat-card>
</div>
</body>
</html>
