<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<div class="main-div">
  <mat-card class="view-application">
    <h1>Application</h1>

    <h2 class="justify-align">{{application.salutations}} {{application.firstName}} {{application.lastName}}</h2>
    <h3 class="justify-align">Created on {{application.dateCreated | date:'medium'}}.</h3>
    <h3 class="justify-align">Last edited on {{application.dateLastEdited | date:'medium'}}.</h3>

    <div style="text-align: center;">
    <a class="icon-container" href="{{CV.url}}">
      <img class="icon"
           src="../../../assets/cv.png"
      />
    </a>

    <a class="icon-container" href="{{CL.url}}">
      <img class="icon"
           src="../../../assets/cl.png"
      />
    </a>
    </div>

    <h4 class="justify-align">Date of birth: {{application.dob | date:'mediumDate'}}</h4>
    <h4 class="justify-align">Email: {{application.email}}</h4>
    <h4 class="justify-align">Phone: {{application.phone}}</h4>
    <h4 class="justify-align">Address: {{application.address}}</h4>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" type="button" (click)="toggleFeedback()">{{feedbackText}}</button><br><br>

      <div *ngIf="feedback">
        <mat-form-field>
          <textarea matInput [(ngModel)]="application.feedback" name="feedback" placeholder="Enter feedback..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" class="send-feedback" (click)="sendFeedback()">Send</button>
      </div>

      <button mat-raised-button color="primary" type="button" (click)="toggleCall()">{{interviewText}}</button>

      <div *ngIf="interview">
        <mat-form-field>
          <input matInput type="datetime-local" placeholder="Date and Time:" [(ngModel)]="application.interviewTime">
        </mat-form-field><br>

        <h4>Interview link: {{interviewLink}}</h4>

        <button mat-raised-button color="primary" type="button" class="send-feedback" (click)="sendInterview()" [disabled]="!application.interviewTime">Send</button>

      </div>
    </div>

  </mat-card>
</div>
</body>
</html>
