<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<div class="main-div">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  <mat-card class="scroll-dashboard">

    <a routerLink='/view-post/{{post.id}}' *ngFor="let post of posts" class="post-link">
      <div class="jobs-container" *ngIf="searchText === '' || post.jobTitle.toLowerCase().includes(searchText) ">
        <mat-card class="post">
          {{post.jobTitle}}
        </mat-card>
      </div>
    </a>

  </mat-card>

</div>
</body>
</html>
