<nav>
<ul class="div-right">
  <a [routerLink]="[link]">
    <img
      src="../../../assets/logo.png"
    />
  </a>
  <li><a [routerLink]="['/login']" *ngIf="role === 'UNAUTH'">Login</a></li>
  <li><a (click)="logout()" *ngIf="role !== 'UNAUTH'">Logout</a></li>
  <li><a [routerLink]="['/profile']" *ngIf="role !== 'UNAUTH'">Profile</a></li>
  <li><a [routerLink]="['/explore-jobs']" *ngIf="role !== 'COMPANY'">Jobs</a></li>
  <li><a [routerLink]="['/explore-companies']" *ngIf="role !== 'COMPANY'">Companies</a></li>
  <li><a [routerLink]="['/explore-people']">People</a></li></ul>
</nav>
