nav{
  height: 7%;
}

img {
  /*width: 15%;*/
  /*height: auto;*/
  width: auto;
  height: 100%;
}

.div-right {
  float: right
}

a {
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

a:hover{
  cursor: pointer;
}
