<!DOCTYPE html>

<meta content="width=device-width" name="viewport"/>
<html>
<body>


<div class="main-div">
  <mat-card class="container-form">
    <mat-card-content>
      <div *ngIf="errorMessage===''">

<h2>Before continuing, please provide more data:</h2>
<form (submit)="onSubmit()" class="form-login">

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input [(ngModel)]="baseUser.username" matInput name="username" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="baseUser.role==='USER'">
    <mat-label>First Name</mat-label>
    <input [(ngModel)]="user.firstName" matInput name="firstName" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="baseUser.role==='USER'">
    <mat-label>Last Name</mat-label>
    <input [(ngModel)]="user.lastName" matInput name="lastName" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="baseUser.role==='COMPANY'">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="company.name" matInput name="name" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input [(ngModel)]="baseUser.phoneNumber" matInput name="phoneNumber" type="text">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" type="submit">Sign up</button>
</form>
</div>
<br>
<mat-error *ngIf="errorMessage.includes('Invalid token')">
  Oops, it looks like the link is broken! Please check the link from the confirmation email again.
</mat-error>
<mat-error *ngIf="errorMessage.includes('Email already confirmed')">
  It looks like you have already confirmed your account. Try <a [routerLink]="['/login']" >logging in</a> instead.
</mat-error>
<mat-error *ngIf="errorMessage.includes('Token has expired')">
  It looks like your confirmation token has expired. Try <a [routerLink]="['/resend-confirmation']" (click)="onResendConfirmation()">sending another confirmation email</a>.
</mat-error>
<mat-error *ngIf="creationError!==''">
  {{creationError}}
</mat-error>
    </mat-card-content>
  </mat-card>
</div>
</body>
</html>
