<!DOCTYPE html>

<meta content="width=device-width" name="viewport"/>
<html>
<body>

<app-header [link]="'/login'"></app-header>

<div class="main-div">
  <mat-card class="container-form">
    <mat-card-content>
      <form (submit)="onSubmit()" class="form-login">
              <span class="title-form-login">
        <h1>Sign up</h1>
      </span>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput name="email" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" matInput name="password" type="password">
        </mat-form-field>

        <mat-radio-group [(ngModel)]="role" name="role">
          <mat-radio-button value="USER">I want to create a personal account.</mat-radio-button>
          <br>
          <mat-radio-button value="COMPANY">I want to create a company account.</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </form>

      <mat-error *ngIf="errorMessage!==''">
        {{errorMessage}}
      </mat-error>
    </mat-card-content>
  </mat-card>
</div>
</body>
</html>
