<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<div class="main-div">
  <mat-card class="scroll-dashboard">
    <mat-card class="search-field">
      <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    </mat-card>

    <a routerLink='/profile-company/{{company.id}}' *ngFor="let company of companies" class="post-link">
      <div>
        <mat-card class="post" *ngIf="searchText === '' || company.name.toLowerCase().includes(searchText.toLocaleLowerCase()) ">
          {{company.name}}

        </mat-card>
      </div>
    </a>
  </mat-card>

</div>
</body>
</html>
