<div *ngIf="errorMessage===''">
<p>Before continuing, please provide more data:</p>
<form>
  <input type="text" name="username" placeholder="Username" required [(ngModel)]="baseUser.username">
  <br>
  <input *ngIf="baseUser.role==='USER'" type="text" name="firstName" placeholder="First Name" required [(ngModel)]="user.firstName">
  <input *ngIf="baseUser.role==='USER'" type="text" name="lastName" placeholder="Last Name" required [(ngModel)]="user.lastName">

  <input *ngIf="baseUser.role==='COMPANY'" type="text" name="name" placeholder="Name" required [(ngModel)]="company.name">
  <input type="text" name="phoneNumber" placeholder="Phone number" required [(ngModel)]="baseUser.phoneNumber">
  <br>
  <button (click)="onSubmit()">Login</button>
</form>
</div>

<div *ngIf="errorMessage.includes('Invalid token')">
  Oops, it looks like the link is broken! Please check again the link from the confirmation email.
</div>
<div *ngIf="errorMessage.includes('Email already confirmed')">
  It looks like you have already confirmed your account. Try <a [routerLink]="['/login']" > logging in </a> instead.
</div>
<div *ngIf="errorMessage.includes('Token has expired')">
  It looks like your confirmation token has expired. Try <a [routerLink]="['/resend-confirmation']" (click)="onResendConfirmation()">sending another confirmation email</a>.
</div>
<div *ngIf="creationError!==''">
  {{creationError}}
</div>
