<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<div class="main-div">

  <mat-card>
    <mat-calendar [dateClass]="this.dateClass" [(selected)]="selected" #calendar (click)="checkInterview()"></mat-calendar>
    <div *ngIf="isInterview" class="interview-detail">
      <div *ngFor="let currentInterview of currentInterviews">
        <h4>Interview Date: {{currentInterview.interviewTime | date:'medium'}}</h4>
        <h4>with {{currentInterview.interviewer}}</h4>
        <h4>Job: {{currentInterview.jobTitle}}</h4>
        <h4>Feedback: {{currentInterview.feedback ? currentInterview.feedback : "-"}}</h4>
        <h4><a href="{{currentInterview.interviewLink}}">Interview Link</a></h4>
        <br><br>
      </div>
    </div>
    <div *ngIf="!isInterview">
      <h4>Nothing planned for {{selected | date:'mediumDate'}}</h4>
    </div>
  </mat-card>

</div>
</body>
</html>
