<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<html>
<body>

<app-header [link]="'/login'"></app-header>

<div class="main-div">
<mat-card class="container-form">
  <mat-card-content>
    <form (submit)="onSubmit()" class="form-login">
      <span class="title-form-login">
        <h1>Login</h1>
      </span>
      <mat-form-field appearance="fill">
        <mat-label>Username or email</mat-label>
        <input [(ngModel)]="username" matInput name="username" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput name="password" type="password">
      </mat-form-field><br>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <br>
    <p class="txt1">
      Don't have an account? <a [routerLink]="['/create-account']">Sign Up</a>
    </p>
    <br>
    <p class="txt1">
      <a [routerLink]="['/reset-password-send-mail']">Reset password</a>
    </p>
    <mat-error *ngIf="errorMessage!==''">
      {{errorMessage}}
    </mat-error>
    <mat-error *ngIf="errorMessage.includes('confirm')">
      Click <a (click)="onResendConfirmation()" [routerLink]="['/resend-confirmation']">here</a> to resend the
      confirmation email.
    </mat-error>
  </mat-card-content>
</mat-card>
</div>
</body>
</html>
